:root {
    --jumbotron-padding-y: 3rem;
  }
  
  .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0;
    background-color: rgb(24, 23, 23);
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
    color: rgb(213, 210, 210);
    text-shadow: 2px 2px 4px #000000;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 0.2rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }

  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }